@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #F1FAFF, #dfcbff, #F1FAFF);
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
}
.header {
    background: linear-gradient(to bottom, #CBE4FF, #8791ff);
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    animation: slide1 3s ease;
}
@keyframes slide1 {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}
.header span {
    font-family: 'Sacramento';
    letter-spacing: 1px;    
    font-size: 3rem;
    padding: 0;
    margin-right: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
.header span:hover {
    color: grey;
    transition: all 1s;
}
.header img {
    width: 100px;
    height: 100px;
}
.nav {
    display: flex;
    gap: 10px;
    padding: 20px;
}
.home {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    content: '';
    filter: ();
    margin-top: -150px;
    z-index: -1;
}
.nav a {
    padding: 10px 20px;
    border: none;
    background: rgb(145, 151, 252);
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid white;
    box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.4);
    transition: all 2s;
}
.nav a:hover {
    background-color: rgb(217, 217, 217);
    color: black;
}
.sidebar {
    position: fixed;
    margin-top: 60px;
    top: 80px;
    right: -200px;
    width: 200px;
    height: 100vh;
    background: #1e1e2d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: right 1s;
    border-top-left-radius: 20px;
    z-index: 1;
}
.sidebar.open {
    right: 0;
}
.sidebar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
    border-radius: 5px;
    transition: background 1s;
}
.sidebar a:hover {
    background: #34344a;
}
.toggle-btn {
    margin-top: 60px;
    position: fixed;
    top: 90px;
    right: 10px;
    background: #9c97ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: right 0.7s, all 0.7s;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.toggle-btn:hover {
    background-color: rgb(209, 209, 209);
}
.sidebar.open ~ .toggle-btn {
    right: 210px;
}





/* opening */
.content {
    padding: 20px;
    max-width: 800px;
    display: block;
}
.content span {
    letter-spacing: 1px;
    color: white;
    opacity: 0.9;
    font-weight: 600;
    font-size: 5rem;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
    font-family: 'Roboto';
}
.content p {
    /* opacity: 0.8; */
    font-family: 'Roboto', cursive;
    font-size: 2rem;
    /* font-weight: 600; */
    letter-spacing: 1px;
    color: white;
    margin-left: 20px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}
/* ex */
.ex {
    font-family: 'Roboto';
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 40px;
}
/* content */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 1000px;
    margin-left: 10%;
    margin-bottom: 50px;
    z-index: -1 !important;
}
.grid-item {    
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.grid-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.grid-item span {
    position: relative;
    z-index: 1;
}


/* footer */
footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;

}